@import "_variables";
.admin-incidentes {
  h1 {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 1.17em;
    text-align: center;
    margin: 10px auto;
  }

  .incidente {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    padding-bottom: 30px;
    margin-bottom: 30px;

    .incidente-infos {
      display: flex;
      flex-direction: column;

      .data {
        color: $light-blue;
      }

      .incidente-titulo {
        display: flex;
        align-items: center;
        margin: 5px 0 15px 0;
        h3 {
          margin: 0 20px 0 0;
        }

        .status {
          color: white;
          padding: 3px 20px;
          border-radius: 3px;
          margin-right: 20px;

          &.closed {
            background: lighten($dark-blue, 20%);
          }

          &.open {
            background: $dark-yellow;
          }

          &.waiting,
          &.waiting_confirmation {
            background: lighten($dark-yellow, 10%);
          }

          &.finished {
            background: $dark-green;
          }
        }
      }

      .priority {
        background: lighten($dark-red, 20%);
        color: white;
        padding: 3px 20px;
        border-radius: 3px;
      }

      .localizacao {
        margin-bottom: 10px;
      }

      p {
        margin: 0;
      }
    }

    .incidente-acoes {
      display: flex;
      align-items: center;

      a {
        background: $light-blue;
        text-decoration: none;
        color: white;
        padding: 8px 20px;
        border-radius: 3px;
        font-size: 14px;
        font-weight: bold;
        margin-right: 20px;
        cursor: pointer;
        &:hover,
        &:focus {
          opacity: 0.8;
        }
      }

      form.button_to {
        input {
          background: lighten($dark-blue, 20%);
          color: white;
          box-sizing: unset;
          height: 14px;
          padding: 8px 20px;
          border-radius: 3px;
          font-size: 14px;
          font-weight: bold;
          border: none;
          cursor: pointer;
          &:hover,
          &:focus {
            opacity: 0.8;
          }
        }
      }
    }
  }
}

.issue {
  .title {
    background-color: $dark-blue;
    color: white;
    padding: 15px;
    font-size: 25px;
  }
  .details {
    border-radius: 5px;
    background-color: $white;
    padding: 15px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
    margin: 10px;
    b {
      font-weight: bold;
    }
    .status {
      color: white;
      padding: 3px 20px;
      border-radius: 3px;
      margin-right: 20px;

      &.closed {
        background: lighten($dark-blue, 20%);
      }

      &.open {
        background: $dark-yellow;
      }

      &.solved {
        background: $dark-green;
      }
    }
    .priority {
      background: lighten($dark-red, 20%);
      color: white;
      padding: 3px 20px;
      border-radius: 3px;
    }
  }
  .description {
    margin: 10px;
    background-color: $white;
    padding: 15px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
    h1 {
      font-size: 20px;
      text-transform: uppercase;
    }
  }
}

.super-admin-user-list {
  background-color: $white;
  padding: 15px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  margin: 10px;
  h1 {
    font-size: 20px;
    font-weight: bold;
  }

  table {
    margin: 0 auto;
    background: white;
    border: 1px solid grey;
    font-size: 12pt;
    border-collapse: collapse;
    margin: 10px 0;
  }
  table thead th,
  table tfoot th {
    color: $white;
    background: $dark-blue;
  }
  table caption {
    padding: 0.5em;
  }
  table th,
  table td {
    padding: 0.5em;
    border: 1px solid lightgrey;
  }

  /* Zebra Table Style */
  [data-table-theme*="zebra"] tbody tr:nth-of-type(odd) {
    background: rgba(0, 0, 0, 0.05);
  }
  [data-table-theme*="zebra"][data-table-theme*="dark"]
    tbody
    tr:nth-of-type(odd) {
    background: rgba(255, 255, 255, 0.05);
  }
  /* Dark Style */
  [data-table-theme*="dark"] {
    color: #ddd;
    background: #333;
    font-size: 12pt;
    border-collapse: collapse;
  }
  [data-table-theme*="dark"] thead th,
  [data-table-theme*="dark"] tfoot th {
    color: #aaa;
    background: rgba(0255, 255, 255, 0.15);
  }
  [data-table-theme*="dark"] caption {
    padding: 0.5em;
  }
  [data-table-theme*="dark"] th,
  [data-table-theme*="dark"] td {
    padding: 0.5em;
    border: 1px solid grey;
  }
  .inline {
    display: flex;
    justify-content: space-around;
    border: none;
  }
  a,
  input {
    color: $white;
    background-color: $dark-blue;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    padding: 8px;
    margin: 10px 0;
    text-decoration: none;
    cursor: pointer;
    width: auto;
  }
}

.forms {
  background-color: $white;
  padding: 15px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  margin: 10px;
}
