@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700&display=swap');
@import 'reset';
@import 'admin-areas';
@import 'common';
@import 'public-areas';
@import 'forms';
@import 'sign';

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: $light-gray;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  background-color: $white;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

table {
  width: 100%;

  thead,
  tbody {
    text-align: left;
  }
}
