<% content_for :menu_items do %>
  <%= link_to "Registrar incidente", new_issue_path %>
<% end %>
<div class="container">
  <div class="admin-incidentes">
    <h1>Novo incidente</h1>
  </div>
  <div class="forms">
    <%= render partial: 'form', locals: { issue: @issue } %>
  </div>
</div>
