<div class="issue">
  <h2>
    <%= @issue.title %>
  </h2>
  <p>
    <%= @issue.description %>
  </p>
  <p>
    <strong>Status: </strong>
    <%= @issue.status %>
  </p>
  <p>
    <strong>Prioridade: </strong>
    <%= @issue.priority %>
  </p>
</div>
